extends ../layout

block content
  h1 Liste des recettes
  table
    each recette in recettes
      tr
        td= recette.name
        td 
          a(href="/recettes/show/"+recette.id) Voir
  a(href="/recettes/create") Nouvelle recette
