extends ../layout

block content
  form(action='save', method='POST')
    p
      | Nom: 
      input(type='text', name='name', value='')
    p
      | Category: 
      input(type='text', name='category', value='')
    input(type='submit', value='Submit')
